---
import luchaImg from '../../../public/categorias/img/juegos-lucha.webp';
import icoMando from '../../../public/categorias/ico/ico-mando.png';
import icoArcade from '../../../public/categorias/ico/ico-arcada.png';
import ryuImg from '../../../public/categorias/ico/ryu.png';
---

<div class="text-center text-4xl text-[#ff0] py-10">
  <strong> CATEGORIAS </strong>
</div>

<section class="text-white h-screen grid place-content-center">
  <div class="w-[327px] bg-blue-950 rounded-[15px] p-6">
    <img src={luchaImg.src} alt="juegos de lucha" class="rounded-lg mb-6" />

    <h2
      class="font-semibold text-[1.22em] mb-3 hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
    >
      Juegos de Lucha
    </h2>

    <p class="text-[#add8e6] mb-4 text-base">
      Juegos donde los jugadores luchan usando habilidades y movimientos.
    </p>

    <div class="flex place-content-between mb-4">
      <div class="flex gap-1.5 items-center">
        <img src={icoMando.src} alt="ico-mando" class="size-5" />
        <p class="text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]">Fighters</p>
      </div>

      <div class="flex gap-1.5 items-center">
        <img src={icoArcade.src} alt="ico-arcade" class="size-5" />
        <p class="text-[#add8e6]">Versus</p>
      </div>
    </div>

    <hr class="text-[#1e3a8a] mb-4" />

    <div class="flex items-center gap-4">
      <img
        src={ryuImg.src}
        alt="ryu"
        class="rounded-full w-[33px] h-[33px] border border-white"
      />

      <p class="text-[#add8e6]">
        Mas información <span class="text-white">aquí. </span>
      </p>
    </div>
  </div>
</section>
