---
import Layout from "../layouts/Layout.astro";
import Carrusel from "../components/Carrusel.astro";
import ContadorTiempo from "../components/ContadorTiempo.astro";
import Galeria from "../components/Gallery.astro";
import Video from "../components/Video.astro";

// Importamos la traducción de los idiomas
import { getI18n } from "../i18n/";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<Layout
  title={i18n.SEO_TITLE_1}
  description={i18n.SEO_DESCRIPTION_1}
  icons="/ino.webp"
>
  <div class="animate-fade animate-once animate-duration-1000">
    <Carrusel />
  </div>

  <div>
    <ContadorTiempo />
  </div>

  <div>
    <Galeria />
  </div>

  <div
    class="animate-fade-up animate-once animate-duration-1000 animate-delay-300"
  >
    <Video />
  </div>
</Layout>
