---
import "../styles/contador.css";
---

<div id="app">
  <h2 class="tituloTime">¡Prepárate para el Evento!</h2>
  <div id="cuenta"></div>
</div>

<script src="../scripts/counter.js"></script>
<script src="../scripts/simplyCountdown.min.js"></script>
