---
// Tailwind
import "@/styles/global.css";

// Fuente
// Fuente
// import '@fontsource-variable/onest';

// Interface de Astro
interface Props {
  title?: string;
  icons?: string;
  description?: string;
}

// Creamos una constante que recibe las props
const { title, description, icons } = Astro.props;

// Idioma
import { getI18n } from "@/i18n/";
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
const currentLang = Astro.currentLocale || "es";

//  Componente
import Header from "@/components/Header.astro";
import SEO from "@/components/SEO.astro";

// View Transitions
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang={currentLang}>
  <head>
    <SEO
      title={title || "Inca Cup 2026"}
      description={description ||
        " Evento Gamers, Inca Cup 2026. La mejor experiencia para gamers"}
      icons={icons}
    />
    <ClientRouter />

    <!-- Scripts para Flowbite -->
    <script src="../scripts/main.js"></script>
  </head>
  <body
    class="font-onest animate-fade animate-duration-1000 animate-ease-in animate-delay-300
    [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
  >
    <Header
      isHomePage={false}
      title={i18n.CATEGORIES.HEADER_TITLE}
      bgClass="bg-gradient-to-r from-[#961aa7] via-[#D30691] via-50% to-[#961aa7]"
      navIds={{ navId: "categorias-nav", menuId: "navbar-categorias" }}
    />
    <slot />
  </body>
</html>

<style is:global>
  html {
    box-sizing: border-box;
    font-family: "Onest Variable", sans-serif;

    /* Desplazamiento del scroll para la animación, lentamente*/
    scroll-behavior: smooth;
  }

  #categorias-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      background: rgba(98, 12, 109, 0.39);
      backdrop-filter: blur(10px);
    }
  }
</style>
